* {
    margin:10px;
    padding: 10px;
    box-sizing: border-box; 
}
.father{
    background-color: white;
}
    .bigBox1 {
        background-color: black;
    }
        .smallBox1{
            background-color: #EB6440;
        }
            .leftBox{
                background-color: #497174;
            }
            .centerBox {
                background-color: #497174;
            }
            .rightBox {
                background-color: #497174;
            }
        .smallBox2 {
            background-color: #F0FF42;
        }
            .insideSmallBox2 {
                background-color: aqua;
            }

    .bigBox2 {
        background-color: black;
    }
        .smallBox3 {
            background-color: #9F8772;
        }
            .insideSmallBox3 {
                background-color: #002E94;
            }
            .inside2SmallBox3 {
                background-color: #372948;
            }
        .smallBox4 {
            background-color: #DD5353;
        }
            .insideSmallBox4 {
                background-color: #06283D;
            }

    .bigBox3 {
        background-color: black;
    }
        .smallBox5 {
            background-color: #FCFFB2;
        }