
























/* .bigBox1 {
background-color: black;
max-width: 100%;
padding: 3%;
}
 .smallBox1 {
    background-color: #F49D1A;
    padding: 2%;
    margin-bottom: 1%;
    max-width: 99%;
}
.smallBox2 {
    background-color: #A0E4CB;
    padding: 2%;
    max-width: 99%;
} */