* {
    margin:10px;
    padding: 10px;
    box-sizing: border-box; 
}
.father{
    background-color: white;
}
    .bigBox1 {
        background-color: black;
    }
        .smallBox1{
            background-color: #EB6440;
        }
            .leftBox{
                background-color: #497174;
            }
            .centerBox {
                background-color: #497174;
            }
            .rightBox {
                background-color: #497174;
            }

    .bigBox2 {
        background-color: black;
    }
    .bigBox3 {
        background-color: black;
    }
























/* .bigBox1 {
background-color: black;
max-width: 100%;
padding: 3%;
}
 .smallBox1 {
    background-color: #F49D1A;
    padding: 2%;
    margin-bottom: 1%;
    max-width: 99%;
}
.smallBox2 {
    background-color: #A0E4CB;
    padding: 2%;
    max-width: 99%;
} */