* {
    margin:10px;
    padding: 10px;
    box-sizing: border-box; 
}
body {
    font-family: 'Open Sans', sans-serif;
}
.father{
    display: flex;
    flex-flow: column nowrap;
}
    .bigBox1 {
        background: url(images/header.jpg);
        background-position: center;
        /*background-attachment: contain; /* marca si la imatge es fixa o mobil quan es fa scroll*/
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .smallBox1{
            display: flex;
            flex-flow: row nowrap;
        }
            .leftBox{
                flex: 1 1 auto;;
            }
                .imagenLogo {
                    width: 70px;
                    height: 70px;
                }
            .centerBox {
                background-color: #497174;
                flex: 10 1 auto;
            }
            .rightBox {
                background-color: #497174;
                flex: 1 1 auto;
            }
        .smallBox2 {
            background-color: #F0FF42;
        }
            .insideSmallBox2 {
                background-color: aqua;
            }

    .bigBox2 {
        background-color: black;
        display: flex;
    }
        .smallBox3 {
            background-color: #9F8772;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .insideSmallBox3 {
                background-color: #002E94;
                flex: 1 1 40%;
            }
            .inside2SmallBox3 {
                background-color: #372948;
                flex: 1 1 100%;
            }
        .smallBox4 {
            background-color: #DD5353;
            flex: 1 1 auto;
        }
            .insideSmallBox4 {
                background-color: #06283D;
            }

    .bigBox3 {
        background-color: black;
    }
        .smallBox5 {
            background-color: #FCFFB2;
        }
@media screen and (max-width: 800px) {
    .bigBox2 {
        background-color: #F0FF42;
        flex-direction: column;
    }
}
@media screen and (max-width: 460px) {
    .smallBox1 {
        flex-direction: column;
    }
    .smallBox3 {
        flex-direction: column;
        background-color: #829460;
    }
    .insideSmallBox3 {
        background-color: #EEEEEE;
    }
    .smallBox4 {
        background-color: #31C6D4;
    }
    .insideSmallBox4 {
        background-color: #FF9494;
    }
    .smallBox5 {
        background-color: #A62349;
    }
}