* {
    margin: 5px;
    padding: 0px;
    box-sizing: border-box; 
}
body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
.father{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1200px;
}
    .bigBox1 {
        background: url(images/header.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        height: 300px;
    }
        .smallBox1{
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            padding-top: 20px;
            align-items: center;
        }
            .leftBox{
                flex: 1 1 auto;
            }
                .imagenLogo {
                    width: 80px;
                    height: 60px;
                }
            .centerBox {
                flex: 10 1 auto;
                display: flex;
            }
                .centerBox a {
                    color: #94B49F;
                    text-decoration: none;
                    margin: 0 auto;
                }
                .centerBox a:hover {
                    color: black;
                }
            .rightBox {
                flex: 1 1 auto;
                display: flex;
            }
                .rightBox a {
                    color: #94B49F;
                }
                .rightBox a:hover {
                    color: black;
                }
        .smallBox2{
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .clasH1 {
            height: 80px;
            width: 80%;
            background: #D6E4E5;
            opacity: 0.8;
            align-items: flex-end;
            margin-top: 145px;
        }
            .insideSmallBox2 {
                color: #DF7861;
                text-align: center;
                opacity: 0.8;
            }

    .bigBox2 {
        background-color: white;
        display: flex;
    }
        .smallBox3 {
            background-color: #94B49F;
            display: flex;
            flex-flow: row wrap;
            flex: 80
        }
            .insideSmallBox3 {
                flex: 1 1 40%;
                font-size: 13px;
                flex: 1 1 35%;
                width: 100%;
                margin: 10px;
                background-color: white;
            }
            .image{
                width: 98%;
            }
                h3{
                    color: yellow;
                    font-size: 13px;
                    padding: 10px 0;
                    margin-top: -50px;
                }
                h2{
                    background-color: #A62349;
                    color: white;
                    font-size: 25px;
                }
            .inside2SmallBox3 {
                background-color: #372948;
                flex: 1 1 100%;
            }
        .smallBox4 {
            background-color: #94B49F;
            text-align: center;
            flex: 20
        }
            .insideSmallBox4 {
                padding: 0px;
            }
            #negritaH4{
                font-family: Arial, Helvetica, sans-serif;
            }
        
    .bigBox3 {
        background-color: black;
    }
        .smallBox5 {
            background-color: #FCFFB2;
        }
@media screen and (max-width: 800px) {
    .bigBox2 {
        background-color: #F0FF42;
        flex-direction: column;
    }
}
 @media screen and (max-width: 460px) {
    .smallBox1 {
        flex-direction: column;
    }
    .smallBox3 {
        flex-direction: column;
        background-color: #829460;
    }
        .insideSmallBox3 {
            background-color: #EEEEEE;
        }
    .smallBox4 {
        background-color: #31C6D4;
    }
        .insideSmallBox4 {
            background-color: #FF9494;
        }
        .smallBox5 {
            background-color: #A62349;
        }
}